* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.dropdown-menu {
  margin: 10px;
}

.name-string {
  margin: 10px;
  padding-left: 3px;
  border: 5px solid #000;
  border-radius: 10px;
}

.file-upload-button {
  margin: 10px;
  border: 5px solid #000;
  border-radius: 10px;
}

.confirm-button {
  margin: 10px;
  border: 5px solid #000;
  border-radius: 10px;
}
.delete-info-button {
  margin: 10px;
  padding: 0 5px;
  border: 5px solid #000;
  border-radius: 10px;
}

.confirm-string {
  color: green;
}

.info {
  display: flex;
  flex-wrap: wrap;
}
