* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.device {
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  border: 5px solid black;
  border-radius: 10px;
}

.left-side-item {
  width: 20%;
}
.middle-side-item {
  width: 60%;
}
.right-side-item {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.charecteristics {
  font-size: 25px;
  font-weight: 500;
}
.title {
  margin: 5px;
}
.description {
  margin: 5px;
}
.main-pic {
  width: 200px;
}
