* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: black;
  align-items: center;
}

.left-side-nav {
  display: flex;
  width: 30%;
  float: left;
}

.logo-string {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0px 10px;
}

.logo-string:hover {
  color: #b8860b;
}

.right-side-nav {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  float: right;
}

.nav-links {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0px 10px;
}

.nav-links:hover {
  color: #b8860b;
}
